<% @title = 'Log in - ' %>
<div class="container">
  <div class="row">
    <div class="col-sm-9 col-md-7 col-lg-5 mx-auto">
      <div class="card general-card my-5">
        <div class="card-body">
          <h5 class="card-title text-center">Log In</h5>
          <%=form_tag sessions_path, method: :post do %>
            <div class="general-form">
              <div class="form-label-group">
                <%= label_tag :email %>
                <%= email_field_tag :email, nil, class: 'form-control', required: true %>
              </div>

              <div class="form-label-group">
                <%= label_tag :password %>
                <%= password_field_tag :password, nil, class: 'form-control', required: true %>
              </div>

              <div class="custom-control custom-checkbox mb-3">
                <%= check_box_tag :remember, 1, true, class: 'custom-control-input' %>
                <%= label_tag :remember, "Keep me signed in", class: 'custom-control-label' %>
              </div>

              <%= submit_tag 'Log In', class: 'btn btn-primary'%>
            </div>
          <% end %>
          <hr class="my-4">
          <%= link_to 'Forgot your password?', root_path %>
        </div>
      </div>
    </div>
  </div>
</div>
