<div class="media text-muted pt-3">
  <div class="media-body pb-3 mb-0 small lh-125 border-bottom border-gray">
    <div class="d-flex justify-content-between align-items-center w-100">
      <strong class="text-primary"><%= reward.name %></strong>
      <% unless reward.campaign.nil? %>
        <%= link_to "See campaign", campaign_details_path(reward.campaign) %>
      <% end %>
    </div>
    <span class="d-block">Value: <%= number_to_currency(reward.min_value, unit:"R$") %></span>
  </div>
</div>
