<% @title = "My Rewards - " %>
<% breadcrumb :rewards %>
<main role="main" class="container">
  <div class="my-3 p-3 bg-white rounded shadow-sm">
    <h6 class="border-bottom border-gray pb-2 mb-0">My rewards</h6>
    <%= render @rewards %>
    <%= paginate @rewards %>
    <%= page_entries_info @rewards %>
  </div>
</main>