<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="navbar-collapse offcanvas-collapse" id="navbarsExampleDefault">
    <span class="nav-link">
      <%= breadcrumbs pretext: '<i class="fas fa-folder-open"></i>/ '.html_safe, style: :inline, separator: ' / ', display_single_fragment: true%>
    </span>
    <ul class="navbar-nav ml-auto">
      <li class="nav-item">
        <a class="nav-link" href="#"><i class="fas fa-search"></i> Search</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href='<%= deposits_path %>'><i class="fas fa-coins"></i> Financial</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" aria-disabled="true"><i class="fas fa-wallet"></i>
          Wallet balance: <%= number_to_currency(current_user.wallet_amount, unit:"R$") %>
        </a>
      </li>
    </ul>
  </div>
</nav>
