<div class="media text-muted pt-3">
  <% if user.profile_image.attached? %>
    <img alt="" class="mr-2 rounded" style="width: 64px; height: 64px;" src="<%= url_for(user.profile_image) %>" data-holder-rendered="true">
  <% else %>
    <img alt="" class="mr-2 rounded" title="Profile image" style="width: 64px; height: 64px;" src="<%= image_path 'no-photo.jpg' %>" data-holder-rendered="true">
  <% end %>
  <div class="media-body pb-3 mb-0 small lh-125 border-bottom border-gray">
    <div class="d-flex justify-content-between align-items-center w-100">
      <strong class="text-primary"><%= user.first_name + " " + user.last_name %></strong>
      <div class="btn-group" role="group" aria-label="userOptions">
        <%= link_to 'View profile', profile_path(user.id), class: 'nav-link' %>
        <%= link_to 'See campaigns', user_campaigns_path(user.id), class: 'nav-link' %>
      </div>
    </div>
    <span class="d-block">Member for <%= distance_of_time_in_words_to_now(user.created_at, :only => [:years, :months]) %></span>
  </div>
</div>