<% @title = 'Editing my account - ' %>
<% breadcrumb :user_edit, @user %>
<!-- Form for user editing -->
<div class="container">
  <div class="container-fluid row justify-content-md-center">
    <div class="col-8">
      <%= render 'shared/error_messages', target: @user %>
    </div>
    <div class="card general-card my-3 col-8">
      <div class="card-body">
        <h5 class="card-title text-center">Edit your profile</h5>
        <%= form_for @user do |f| %>
          <div class="general-form">
            <div class="form-label-group">
              <%= f.label :first_name, "First name" %>
              <%= f.text_field :first_name, autofocus: true, class: "form-control", required: true %>
            </div>
            <div class="form-label-group">
              <%= f.label :last_name, "Last name" %>
              <%= f.text_field :last_name, class: "form-control", required: true %>
            </div>
            <div class="form-label-group">
              <%= f.label :email, "Email address" %>
              <%= f.email_field :email, class: "form-control", required: true %>
            </div>
            <div class="form-label-group">
              <%= f.label :birth_date, "Date of birth", class: "w-100" %>
              <%= f.date_select :birth_date, start_year: 1900,
                                end_year: Date.today.year, order: [:day, :month, :year],
                                with_css_classes: true %>
            </div>
            <div class="form-label-group">
              <%= f.label :address, "Full address" %>
              <%= f.text_field :address, class: "form-control", required: false %>
            </div>
            <div class="form-label-group">
              <%= f.label :city, "City" %>
              <%= f.text_field :city, class: "form-control", required: false %>
            </div>
            <div class="form-label-group">
              <%= f.label :zip_code, "Zip Code" %>
              <%= f.text_field :zip_code, class: "form-control", required: false %>
            </div>
            <div class="form-label-group">
              <%= f.label :country, "Country" %>
              <%= f.text_field :country, class: "form-control", required: false %>
            </div>
            <p>
              <button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#collapseImageOptions" aria-expanded="false" aria-controls="collapseImageOptions">
                Profile image options
              </button>
            </p>
            <div class="collapse" id="collapseImageOptions">
              <div class="card card-body">
                <div class="form-label-group">
                  <%= f.label :profile_image, "Upload your profile image", class: "w-100" %>
                  <%= f.file_field :profile_image, required: false, accept: 'image/*'%>
                </div>
                <% if @user.profile_image.attached? %>
                  <%= link_to '<i class="fas fa-file-download"></i> Download your current profile image'.html_safe, rails_blob_path(@user.profile_image, disposition: 'attachment'), class: 'nav-link' %>
                  <%= link_to '<i class="fas fa-trash-alt"></i> Delete your current profile image'.html_safe, delete_profile_image_path, method: :delete, class: 'nav-link' %>
                <% end %>
              </div>
            </div>
            <div class="actions">
              <%= f.submit 'Update my profile', class: 'btn btn-primary mt-2' %>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
