<% @title = 'Featured - ' %>
<% breadcrumb :root %>
<%= render partial: 'shared/options_toolbar' %>
<main role="main" class="container">
  <div class="my-3 p-3 bg-white rounded shadow-sm">
    <h6 class="border-bottom border-gray pb-2 mb-0">Recent campaigns</h6>
    <%= render @campaigns %>
    <%= paginate @campaigns, param_name: 'campaigns_page' %>
    <small class="d-block text-right mt-3">
      <%= link_to "All campaigns", campaigns_path,
          class: "btn btn-outline-primary" %>
    </small>
  </div>

  <div class="my-3 p-3 bg-white rounded shadow-sm">
    <h6 class="border-bottom border-gray pb-2 mb-0">Featured users</h6>
    <%= render @users %>
    <%= paginate @users, param_name: 'users_page' %>
    <small class="d-block text-right mt-3">
      <%= link_to "All users", users_path, class: "btn btn-outline-primary" %>
    </small>
  </div>
</main>
