<% @title = 'Users - ' %>
<% breadcrumb :user_index %>
<main role="main" class="container">
  <div class="my-3 p-3 bg-white rounded shadow-sm">
    <h6 class="border-bottom border-gray pb-2 mb-0">Users</h6>
    <%= render @users %>
    <%= paginate @users %>
    <%= page_entries_info @users %>
  </div>
</main>