<% @title = 'Creating my account - ' %>
<!-- Form for user registration -->
<div class="container">
  <div class="container-fluid row justify-content-md-center">
    <div class="col-8">
      <%= render 'shared/error_messages', target: @user %>
    </div>
    <div class="card general-card my-3 col-8">
      <div class="card-body">
      <h5 class="card-title text-center">Sign up</h5>
      <%= form_for @user do |f| %>
        <div class="general-form">
          <div class="form-label-group">
            <%= f.label :first_name, "First name" %>
            <%= f.text_field :first_name, autofocus: true, class: "form-control", required: true %>
          </div>
          <div class="form-label-group">
            <%= f.label :last_name, "Last name" %>
            <%= f.text_field :last_name, class: "form-control", required: true %>
          </div>
          <div class="form-label-group">
            <%= f.label :email, "Email address" %>
            <%= f.email_field :email, class: "form-control", required: true %>
          </div>
          <div class="form-label-group">
            <%= f.label :password, "Password" %>
            <%= f.password_field :password, class: "form-control", required: true %>
          </div>
          <div class="form-label-group">
            <%= f.label :password_confirmation, "Password confirmation" %>
            <%= f.password_field :password_confirmation, class: "form-control", required: true %>
          </div>
          <div class="form-label-group">
            <%= f.label :birth_date, "Date of birth", class: "w-100" %>
            <%= f.date_select :birth_date, start_year: 1900,
                end_year: Date.today.year, order: [:day, :month, :year],
                with_css_classes: true %>
          </div>
          <div class="actions">
            <%= f.submit 'Create user', class: 'btn btn-primary mt-2' %>
          </div>
        </div>
      <% end %>
      </div>
    </div>
  </div>
</div>
