<% @title = 'Profile of ' + @user.first_name + ' - ' %>
<% breadcrumb :user, @user %>
<div class="container bootstrap snippet">
  <div class="row">
    <div class="col-sm-10">
      <div class="col-sm-2">
        <% if @user.profile_image.attached? %>
          <a class="pull-left"><img title="Profile image" class="img-fluid rounded-circle align-content-center" src="<%= url_for(@user.profile_image) %>" style="padding-top: 5px"></a>
        <% else %>
          <a class="pull-left"><img title="Profile image" class="img-fluid rounded-circle align-content-center" src="<%= image_path 'no-photo.jpg' %>" style="padding-top: 5px"></a>
        <% end %>
      </div>
      <h1><%= "Profile of " + @user.first_name + " " + @user.last_name %></h1></div>
  </div>
  <div class="row">
    <div class="col-sm-3">
      <!--left col-->

      <ul class="list-group">
        <li class="list-group-item text-muted"><i class="far fa-clock"></i> Activity</li>
        <li class="list-group-item text-right"><span class="pull-left"><strong>Joined: </strong></span> <%=  @user.join_date %></li>
        <li class="list-group-item text-right"><span class="pull-left"><strong>Last update: </strong></span><%= @user.update_date %> </li>
      </ul>
      <hr class="my-4">
      <ul class="list-group">
        <li class="list-group-item text-muted"><i class="fas fa-chart-line"></i> Stats <i class="fa fa-dashboard fa-1x"></i></li>
        <li class="list-group-item text-right"><span class="pull-left"><strong>Campaigns: </strong></span><%= @user.count_campaigns %></li>
        <li class="list-group-item text-right"><span class="pull-left"><strong>Contributions: </strong></span><%= @user.count_contributions %></li>
        <li class="list-group-item text-right"><span class="pull-left"><strong>Amount received: </strong></span><%= number_to_currency(@user.amount_received, unit:"R$") %></li>
        <li class="list-group-item text-right"><span class="pull-left"><strong>Amount donated: </strong></span><%= number_to_currency(@user.amount_contributed, unit:"R$") %></li>
        <% unless current_user.nil? %>
          <% if @user.id == current_user.id %>
            <li class="list-group-item text-right"><span class="pull-left"><strong>Wallet balance: </strong></span><%= number_to_currency(@user.wallet_amount, unit:"R$") %></li>
          <% end %>
        <% end %>
      </ul>
    </div>
    <!--/col-3-->
    <div class="col-sm-9">
      <ul class="list-group">
        <li class="list-group-item text-muted"><i class="far fa-user-circle"></i> Personal Info <i class="fa fa-dashboard fa-1x"></i></li>
        <li class="list-group-item text-left"><span class="pull-left"><strong>Name: </strong></span><%=  @user.first_name + " " + @user.last_name %></li>
        <li class="list-group-item text-left"><span class="pull-left"><strong>Birth Date: </strong></span><%= @user.format_birth_date %></li>
        <li class="list-group-item text-left"><span class="pull-left"><strong>E-mail: </strong></span><%= @user.email %></li>
        <% unless current_user.nil? %>
          <% if @user.id == current_user.id %>
            <li class="list-group-item text-left"><button class="btn btn-outline-primary" href="#">Change your password</button></li>
          <% end %>
        <% end %>
      </ul>
      <hr class="my-4">
      <ul class="list-group">
        <li class="list-group-item text-muted"><i class="fas fa-home"></i> Address <i class="fa fa-dashboard fa-1x"></i></li>
        <li class="list-group-item text-left"><span class="pull-left"><strong>Full Address: </strong></span><%= @user.address %></li>
        <li class="list-group-item text-left"><span class="pull-left"><strong>City: </strong></span><%= @user.city %></li>
        <li class="list-group-item text-left"><span class="pull-left"><strong>Country: </strong></span><%= @user.country %></li>
        <li class="list-group-item text-left"><span class="pull-left"><strong>Zip Code: </strong></span><%= @user.zip_code %></li>
      </ul>
      <% if !current_user.nil? %>
        <% if @user.id == current_user.id %>
          <hr class="my-4">
          <ul class="list-group">
            <li class="list-group-item text-muted"><i class="fas fa-phone"></i> Phones <i class="fa fa-dashboard fa-1x"></i></li>
            <div class="accordion" id="accordionPhones">
              <div class="card">
                <div class="card-header" id="headingView">
                  <h5 class="mb-0">
                    <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseView" aria-expanded="true" aria-controls="collapseView">
                      Your registered phones
                    </button>
                  </h5>
                </div>
                <div id="collapseView" class="collapse" aria-labelledby="headingView" data-parent="#accordionPhones">
                  <div class="card-body">
                    <ul class="list-group">
                      <% unless @user.phones.size == 0 %>
                        <% @user.phones.each do |phone| %>
                          <li class="list-group-item"><span class="pull-left"><strong>Type: </strong></span><%= phone.phone_type %><br><span class="pull-left"><strong>Number: </strong></span><%= phone.number %>
                          <span class='container-fluid'><%= link_to '<i class="fas fa-trash-alt"></i> Delete number'.html_safe, delete_phone_path(phone.id), method: :delete, class: 'btn btn-outline-danger pull-right' %></span>
                          </li>
                        <% end %>
                      <% else %>
                        <li class="list-group-item"><span class="pull-left"><strong>You have no phones registered </strong></span></li>
                      <% end %>
                    </ul>
                  </div>
                </div>
              </div>
              <div class="card">
                <div class="card-header" id="headingAdd">
                  <h5 class="mb-0">
                    <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapseAdd" aria-expanded="false" aria-controls="collapseAdd">
                      Add new phone number
                    </button>
                  </h5>
                </div>

                <div id="collapseAdd" class="collapse show" aria-labelledby="headingAdd" data-parent="#accordionPhones">
                  <div class="card-body">
                    <%=form_tag phones_path, method: :post do %>
                      <div class="general-form">
                        <div class="form-label-group">
                          <%= label_tag :phone_type %>
                          <%= select_tag(:phone_type, options_for_select([['Mobile', 'Mobile'], ['Home', 'Home'], ['Commercial', 'Commercial']]))%>
                        </div>
                        <div class="form-label-group">
                          <%= label_tag :number %>
                          <%= number_field_tag :number, nil, class: 'form-control col-5', required: true %>
                        </div>
                        <%= submit_tag 'Add', class: 'btn btn-outline-success'%>
                      </div>
                    <% end %>
                  </div>
                </div>

              </div>
            </div>
          </ul>
          <div class="btn btn-group-toggle">
            <%= link_to 'Edit my profile', edit_profile_path, class: 'btn btn-outline-primary my-4 mr-2' %>
            <%= link_to 'Delete my account', delete_profile_path(@user.id), data: {confirm: 'This action can NOT be undone! All money in your wallet and open campaigns will be lost. Are you sure?'}, :method => :delete, class: 'btn btn-outline-danger my-4 mr-2' %>
          </div>
        <% else %>
          <hr class="my-4">
          <ul class="list-group">
            <li class="list-group-item text-muted"><i class="fas fa-phone"></i> Phones <i class="fa fa-dashboard fa-1x"></i></li>
            <% @user.phones.each do |phone| %>
              <li class="list-group-item text-left"><span class="pull-left"><strong>Type: </strong></span><%= phone.phone_type %><br><span class="pull-left"><strong>Number: </strong></span><%= phone.number %></li>
            <% end %>
          </ul>
        <% end %>
      <% else %>
        <hr class="my-4">
        <ul class="list-group">
          <li class="list-group-item text-muted"><i class="fas fa-phone"></i> Phones <i class="fa fa-dashboard fa-1x"></i></li>
          <% @user.phones.each do |phone| %>
            <li class="list-group-item text-left"><span class="pull-left"><strong>Type: </strong></span><%= phone.phone_type %><br><span class="pull-left"><strong>Number: </strong></span><%= phone.number %></li>
          <% end %>
        </ul>
      <% end %>
    </div>
  </div>
  <!--/col-9-->
</div>
<!--/row-->
