<% if target.errors.any? %>
  <div class="error_explanation">
    <% target.errors.full_messages.each do |msg| %>
      <div class="alert alert-danger" role="alert">
        <%= msg + "!" %>
      </div>
    <% end %>
  </div>
<% end %>
