<div class="nav-scroller bg-white shadow-sm text-center">
  <nav class="nav nav-underline text-center justify-content-center">
    <li class="nav-text text-primary mx-4">Order by:
      <div class="input-group mb-3">
        <select class="custom-select" id="inputOrderBy">
          <option selected>Choose...</option>
          <option value="1">Most Recent</option>
          <option value="2">Title</option>
          <option value="3">Progress</option>
        </select>
        <div class="input-group-append">
          <button class="btn btn-outline-primary" type="button">Refresh</button>
        </div>
      </div>
    </li>
    <li class="nav-text text-primary mx-4">Show only:
      <div class="btn-group-toggle" data-toggle="buttons">
        <label class="btn btn-outline-primary active">
          <input type="checkbox" checked autocomplete="off"> Campaigns
        </label>
        <label class="btn btn-outline-primary active">
          <input type="checkbox" checked autocomplete="off"> Users
        </label>
        <label class="btn btn-outline-primary active">
          <input type="checkbox" checked autocomplete="off"> Recent
        </label>
      </div>
    </li>
  </nav>
</div>
