<tr>
  <% if contribution.campaign.nil? %>
    <th scope="row">This campaign was closed</th>
  <% else %>
  <th scope="row"><%= link_to contribution.campaign.title, campaign_details_path(contribution.campaign.id) %></th>
  <% end %>
  <td><%= number_to_currency(contribution.value, unit:"R$") %></td>
  <td><%= distance_of_time_in_words(Time.now,
                                    contribution.created_at, only: [:days, :hours],
                                    accumulate_on: :days) %></td>
</tr>
