<% @title = 'My contributions - ' %>
<% breadcrumb :contributions %>
<%= render partial: 'shared/options_toolbar' %>
<main role="main" class="container">
  <div class="my-3 p-3 bg-white rounded shadow-sm">
    <h6 class="border-bottom border-gray pb-2 mb-0">My contributions</h6>
    <% unless @contributions.size == 0 %>
      <table class="table">
        <thead>
        <tr>
          <th scope="col">Campaign</th>
          <th scope="col">Value</th>
          <th scope="col">Elapsed time</th>
        </tr>
        </thead>
    <% end %>
      <tbody>
        <%= render @contributions %>
        <%= paginate @contributions %>
        <%= page_entries_info @contributions %>
      </tbody>
    </table>
  </div>
</main>