<tr>
  <td><%= deposit.created_at %></td>
  <td><%= number_to_currency(deposit.value, unit:"R$") %></td>
  <td><%= deposit.transaction_state.name %></td>
  <td><%= deposit.payment_method.method %></td>
</tr>
