<% @title = "My payment methods management - " %>
<% breadcrumb :payment_manager %>
<main role="main" class="container">
  <div class="my-3 p-3 bg-white rounded shadow-sm">
    <h6 class="border-bottom border-gray pb-2 mb-0">Credit/Debit cards</h6>
    <div class="row">
      <% @cards.each do |card| %>
        <% details = card.get_card_network %>
        <div class="col-6 col-sm-4 col-lg-3 mt-3 mb-auto">
          <div class="card h-100 text-center">
            <div class="card-body">
              <h6 class="card-title"><%= (details[:html] + " " + details[:name]).html_safe %></h6>
              <%= form_for card do |f| %>
                <div class="details">
                  <div class="form-label-group">
                    <%= f.label :card_number, "Card number" %>
                    <%= f.number_field :card_number, autofocus: true, class: "form-control", required: true %>
                  </div>
                  <div class="form-label-group">
                    <%= f.label :card_owners_name, "Owner name" %>
                    <%= f.text_field :card_owners_name, class: "form-control", required: true %>
                  </div>
                  <div class="form-label-group">
                    <%= f.label :card_valid_until, "Valid until", class: "w-100" %>
                    <%= f.date_select :card_valid_until, start_year: Date.today.year,
                                      end_year: Date.today.year + 50, order: [:month, :year],
                                      with_css_classes: true %>
                  </div>
                  <div class="form-label-group">
                    <%= f.label :card_cvv, "CVV" %>
                    <%= f.number_field :card_cvv, class: "form-control", required: true %>
                  </div>
                </div>
                </div>
                <div class="card-footer">
                  <div class="actions">
                    <%= f.submit 'Save', class: 'btn btn-outline-success mt-2' %>
                  </div>
                  <%= link_to '<i class="fas fa-trash-alt"></i> Delete'.html_safe, delete_card_path(card.id), method: :delete, data: {confirm: 'This action can NOT be undone. Are you sure?'}, class: "btn btn-outline-danger mt-2" %>
                </div>
              <% end %>
              </div>
        </div>
      <% end %>
      <div class="col-6 col-sm-4 col-lg-3 mt-3 mb-auto">
        <div class="card h-100 text-center">
          <div class="card-body">
            <h6 class="card-title">Add new card</h6>
            <%= form_for @card do |f| %>
              <div class="details">
                <div class="form-label-group">
                  <%= f.label :card_number, "Card number" %>
                  <%= f.number_field :card_number, autofocus: true, class: "form-control", required: true %>
                </div>
                <div class="form-label-group">
                  <%= f.label :card_owners_name, "Owner name" %>
                  <%= f.text_field :card_owners_name, class: "form-control", required: true %>
                </div>
                <div class="form-label-group">
                  <%= f.label :card_valid_until, "Valid until", class: "w-100" %>
                  <%= f.date_select :card_valid_until, start_year: Date.today.year,
                                    end_year: Date.today.year + 50, order: [:month, :year],
                                    with_css_classes: true %>
                </div>
                <div class="form-label-group">
                  <%= f.label :card_cvv, "CVV" %>
                  <%= f.number_field :card_cvv, class: "form-control", required: true %>
                </div>
              </div>
              </div>
              <div class="card-footer">
                <div class="actions">
                  <%= f.submit 'Save', class: 'btn btn-outline-success mt-2' %>
                </div>
              </div>
            <% end %>
            </div>
      </div>
    </div>
    <%= link_to 'Done', payment_methods_path, class: "btn btn-outline-primary mt-3" %>
  </div>
</main>
