<% @title = "My payment methods - " %>
<% breadcrumb :payment %>
<main role="main" class="container">
  <div class="my-3 p-3 bg-white rounded shadow-sm">
    <h6 class="border-bottom border-gray pb-2 mb-0">Credit/Debit cards</h6>
    <div class="row">
      <% @cards.each do |card| %>
        <% details = card.get_card_network %>
        <div class="col-6 col-sm-4 col-lg-3 mt-3 mb-auto">
          <div class="card h-100 text-center">
            <div class="card-body">
              <h6 class="card-title"><%= (details[:html] + " " + details[:name]).html_safe %></h6>
              <div class="details">
                <ul class="list-group">
                  <li class="list-group-item">Card Number<br><%= "**** **** **** " + card.card_number[12..16] %></li>
                  <li class="list-group-item">Valid until<br><%= card.card_valid_until.month.to_s + "/" + card.card_valid_until.year.to_s %></li>
                  <li class="list-group-item">Owner name<br><%= card.card_owners_name %></li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      <% end %>
    </div>
    <%= link_to '<i class="fas fa-toolbox"></i> Manage'.html_safe, manage_payment_path, class: "btn btn-outline-primary mt-3" %>
  </div>
</main>
