<div class="media text-muted pt-3">
  <% if campaign.cover_image.attached? %>
    <img alt="" class="mr-2 rounded" style="width: 64px; height: 64px;" src="<%= url_for(campaign.cover_image) %>" data-holder-rendered="true">
  <% else %>
    <img alt="" class="mr-2 rounded" style="width: 64px; height: 64px;" src="<%= image_path 'no-cover.png' %>" data-holder-rendered="true">
  <% end %>
  <div class="media-body pb-3 mb-0 small lh-125 border-bottom border-gray">
    <div class="d-flex justify-content-between align-items-center w-100">
      <strong class="text-primary"><%= campaign.title %></strong>
      <%= link_to "View Details", campaign_details_path(campaign) %>
    </div>
    <span class="d-block"><%= campaign.description %></span>
    <strong class="text-secondary">Progress: <%= ((campaign.current_amount/campaign.desired_amount)*100).round(2) %>%</strong>
  </div>
</div>
