<% @title = "Editing your campaign - " %>
<% breadcrumb :campaign_edit, @campaign %>
<!-- Form for campaign creation -->
<div class="container">
  <div class="container-fluid row justify-content-md-center">
    <div class="col-8">
      <%= render 'shared/error_messages', target: @campaign %>
    </div>
    <div class="card general-card my-3 col-8">
      <div class="card-body">
        <h5 class="card-title text-center">Edit your campaign</h5>
        <%= form_for @campaign do |f| %>
          <div class="general-form">
            <div class="form-label-group">
              <%= f.label :title, "Campaign name" %>
              <%= f.text_field :title, autofocus: true, class: "form-control", required: true %>
            </div>
            <div class="form-label-group">
              <%= f.label :description, "Campaign description" %>
              <%= f.text_area :description, rows: 4, class: "form-control", required: true %>
            </div>
            <button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#collapseImageOptions" aria-expanded="false" aria-controls="collapseImageOptions">
              Cover image options
            </button>
            <div class="collapse mt-3" id="collapseImageOptions">
              <div class="card card-body">
                <div class="form-label-group">
                  <%= f.label :cover_image, "Upload your campaign cover image", class: "w-100" %>
                  <%= f.file_field :cover_image, required: false, accept: 'image/*'%>
                </div>
                <% if @campaign.cover_image.attached? %>
                  <%= link_to '<i class="fas fa-file-download"></i> Download current cover image'.html_safe, rails_blob_path(@campaign.cover_image, disposition: 'attachment'), class: 'nav-link' %>
                  <%= link_to '<i class="fas fa-trash-alt"></i> Delete current cover image'.html_safe, delete_cover_image_path(@campaign.id), method: :delete, class: 'nav-link' %>
                <% end %>
              </div>
            </div>
            <div class="actions mt-2">
              <%= f.submit 'Update', class: 'btn btn-primary mt-2' %>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
