<% @title = "Campaigns of " + @user.first_name + " - " %>
<% breadcrumb :user_campaigns, @user %>
<%= render partial: 'shared/options_toolbar' %>
<main role="main" class="container">
  <div class="my-3 p-3 bg-white rounded shadow-sm">
    <h6 class="border-bottom border-gray pb-2 mb-0"><%= "Campaigns of " + @user.first_name %></h6>
    <%= render @campaigns %>
    <%= paginate @campaigns %>
    <%= page_entries_info @campaigns %>
  </div>
</main>