<% @title = "Campaigns - " %>
<% breadcrumb :campaigns_index %>
<main role="main" class="container">
  <div class="my-3 p-3 bg-white rounded shadow-sm">
    <h6 class="border-bottom border-gray pb-2 mb-0">All campaigns</h6>
    <%= render @campaigns %>
    <%= paginate @campaigns %>
    <%= page_entries_info @campaigns %>
  </div>
</main>