<% @title = "Starting a new campaign - " %>
<% breadcrumb :campaign_new %>
<!-- Form for campaign creation -->
<div class="container">
  <div class="container-fluid row justify-content-md-center">
    <div class="col-8">
      <%= render 'shared/error_messages', target: @campaign %>
    </div>
    <div class="card general-card my-3 col-8">
      <div class="card-body">
      <h5 class="card-title text-center">Create a campaign</h5>
      <%= form_for @campaign do |f| %>
        <div class="general-form">
          <div class="form-label-group">
            <%= f.label :title, "Campaign name" %>
            <%= f.text_field :title, autofocus: true, class: "form-control", required: true %>
          </div>
          <div class="form-label-group">
            <%= f.label :description, "Campaign description" %>
            <%= f.text_area :description, rows: 4, class: "form-control", required: true %>
          </div>
          <div class="form-label-group">
            <%= f.label :desired_amount,
                "Desired campaign amount (Cannot be altered!)" %>
            <%= f.number_field :desired_amount, in: 0.99..1000000.00,
                step: 0.01, precison: 2, class: "form-control col-3",
                required: true %>
          </div>
          <div class="actions">
            <%= f.submit 'Create campaign', class: 'btn btn-primary mt-2' %>
          </div>
        </div>
      <% end %>
      </div>
    </div>
  </div>
</div>
