<% @title = @campaign.title + " - "%>
<% breadcrumb :campaign, @campaign %>
<!-- Campaign page -->
<div class="container bootstrap snippet">
  <% unless current_user.nil? %>
    <% if current_user.id == @campaign.user_id %>
      <div class="row my-3">
        <div class="col text-left align-self-center">
          <h5 class="mx-2 my-0">Manage my campaign</h5>
        </div>
        <div class="col text-right">
          <%= link_to 'Edit campaign', edit_campaign_path,
              class: 'btn btn-primary mx-2' %>
        </div>
      </div>
      <hr class="my-2">
    <% end %>
  <% end %>
  <div class="row my-4">
    <div class="col text-center">
      <h2><%= @campaign.title %></h2>
    </div>
  </div>
  <div class="row my-4">
    <div class="col text-center">
      <% if @campaign.cover_image.attached? %>
        <img title="Cover image" class="img-fluid mx-auto d-block rounded" src="<%= url_for(@campaign.cover_image) %>">
      <% else %>
        <img title="Cover image" class="img-fluid mx-auto d-block rounded" src="<%= image_path 'no-cover.png' %>">
      <% end %>
    </div>
  </div>
  <hr class="my-4">
  <div class="row">
    <div class="col text-center">
      <h4 class="mb-3">Campaign status</h4>
      <% if @campaign.funding_percentage < 100 %>
        <div class="progress" style="height: 8px;">
          <div class="progress-bar bg-success" role="progressbar"
               style="width: <%= @campaign.funding_percentage %>%"
               aria-valuenow="<%= @campaign.funding_percentage %>"
               aria-valuemin="0"
               aria-valuemax="100">
          </div>
        </div>
        <h6 class="mt-2">
          This campaign is <%= @campaign.funding_percentage %>% funded!
          Help us make it to 100%!
        </h6>
      <% else %>
        <div class="progress" style="height: 8px;">
          <div class="progress-bar bg-success" role="progressbar"
               style="width: 100%" aria-valuenow="100" aria-valuemin="0"
               aria-valuemax="100">
          </div>
        </div>
        <h6 class="mt-2">
          This campaign was successfully funded!
          But you can still help us reach our extra goals!
        </h6>
      <% end %>
    </div>
  </div>
  <% unless current_user.nil? %>
    <hr class="my-4">
    <div class="row">
      <div class="col text-center">
        <h4>Campaign contribution</h4>
        <% if @contribution.value.nil? %>
          <div class="card general-card mx-auto my-2 col-8">
            <div class="card-body">
              <h5 class="card-title text-center">Contribute to this campaign</h5>
              <%= render 'shared/error_messages', target: @contribution %>
              <%= form_for @contribution do |f| %>
                <div class="general-form text-center">
                  <div class="form-label-group">
                    <%= f.hidden_field :campaign_id, value: @campaign.id %>
                    <%= f.label :value, "Contribution ammount (R$)" %>
                    <%= f.number_field :value, in: 0.01..1000000.00, step: 0.01,
                        precison: 2,
                        class: "form-control text-justify col-3 mx-auto",
                        required: true %>
                  </div>
                  <div class="actions">
                    <%= f.submit 'Contribute',
                        class: 'btn btn-outline-success mt-3 w-75' %>
                  </div>
                </div>
              <% end %>
            </div>
          </div>
        <% else %>
          <h6>
            You have a contribution to this campaign in the value of:
            <div class="text-success">
              <%= number_to_currency(@contribution.value, unit:"R$") %>
            </div>
            Thank you for participating!
          </h6>
        <% end %>
      </div>
    </div>
  <% end %>
  <hr class="my-4">
  <div class="row">
    <div class="col text-center">
      <h4 class="mb-4">Campaign details</h4>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-8">
      <ul class="list-group">
        <li class="list-group-item text-muted">
          <i class="fas fa-scroll"></i>
          Description
        </li>
        <li class="list-group-item">
          <div class="campaign-description"> <%= @campaign.description %> </div>
        </li>
      </ul>
    </div>
    <div class="col-sm-4">
      <ul class="list-group">
        <li class="list-group-item text-muted">
          <i class="fas fa-chart-line"></i> Statistics
        </li>
        <li class="list-group-item">
          <strong> Desired amount: </strong>
          <%= number_to_currency(@campaign.desired_amount, unit:"R$") %>
        </li>
        <li class="list-group-item">
          <strong> Amount received: </strong>
          <%= number_to_currency(@campaign.current_amount, unit:"R$") %>
        </li>
        <li class="list-group-item">
          <strong> Number of contributions: </strong>
          <%= @campaign.count_contributors %>
        </li>
        <li class="list-group-item">
          <strong> Time remaining: </strong>
          <%= distance_of_time_in_words(Time.now,
              @campaign.created_at + 60.days, only: [:days, :hours],
              accumulate_on: :days) %>
        </li>
      </ul>
      <hr class="my-4">
      <ul class="list-group">
        <li class="list-group-item text-muted">
          <i class="fas fa-user"></i> Creator information
        </li>
        <% unless @creator.nil? %>
          <li class="list-group-item">
            <strong> Name: </strong>
            <%= @creator.first_name + " " + @creator.last_name %>
          </li>
          <li class="list-group-item">
            <strong> E-mail: </strong>
            <%= @creator.email %>
          </li>
          <li class="list-group-item">
            <strong> Campaigns created: </strong>
            <%= @creator.count_campaigns %>
          </li>
          <%= link_to "More information", profile_path(@creator),
              class: "btn btn-outline-primary mt-3" %>
      <% else %>
          <li class="list-group-item">
            <strong> The creator of this campaign deleted his account! </strong>
          </li>
        <% end %>
      </ul>
    </div>
  </div>
  <hr class="my-4">
  <div class="row">
    <div class="col text-center">
      <h4 class="mb-4">Campaign rewards</h4>
    </div>
  </div>
  <div class="row">
    <% @campaign.rewards.order(:min_value).each do |reward| %>
      <% user_has_reward = @user_rewards.include?(reward) %>
      <% reward_border = user_has_reward ? "border-success" : "" %>
      <div class="col-6 col-sm-4 col-lg-3 mb-4">
        <div class="card <%= reward_border %> h-100 text-center">
          <div class="card-header bg-transparent">
            <%= image_tag 'no-cover.png', class: "card-img-top" %>
          </div>
          <div class="card-body px-2">
            <h6 class="card-title"><%= reward.name %></h6>
            <div class="reward-description">
            A simple description of the reward. It must be about 3 sentences
            long to stay inside the card. It must offer an accurate description!
            </div>
          </div>
          <div class="card-footer">
            <% if user_has_reward %>
              <div class="btn btn-success btn-no-pointer-events mb-3 w-100">
                Reward acquired!
              </div>
            <% else %>
              <%= link_to "I want this!", '#',
                  class: "btn btn-outline-primary mb-3 w-100" %>
            <% end %>
            Minimum donation of:
            <%= number_to_currency(reward.min_value, unit:"R$") %>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>
