header.carousel {
  position: relative;
  height: available;
  width: available;
  .overlay {
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    opacity: 0.3;
  }
  .carousel-caption{
    background: white;
    color: $gray-800;
  }
  h1 {
    font-size: 2rem;
  }
}