:root {
  --input-padding-x: 1.5rem;
  --input-padding-y: .75rem;
}

body {
  @include body-font;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  @include body-font;
  font-weight: 700;
}

input[type="number"] {
    -moz-appearance: textfield;
}

textarea {
   resize: none;
}

.btn-no-pointer-events {
  pointer-events: none;
}

.field_with_errors {
  flex: 1 0 auto;

  .form-control {
    @extend .is-invalid;
  }
}

.form-label-group {
  position: relative;
  margin-bottom: 1rem;
}

.form-label-group input {
  border-radius: 2rem;
}

.general-card {
  border: 0;
  border-radius: 1rem;
  box-shadow: 0 0.5rem 1rem 0 rgba(0, 0, 0, 0.1);
}

.general-card .card-body {
  padding: 2rem;
}

.general-card .card-title {
  margin-bottom: 2rem;
  font-weight: 300;
  font-size: 1.5rem;
}

.general-form {
  width: 100%;
}
