// Place all the styles related to the Campaigns controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.campaign-description {
  white-space: pre-line;
}

.reward-description {
  height: 150px;
  overflow-y: scroll;
}
