// Place all the styles related to the cards controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.day, .month, .year {
  @extend .custom-select;
  @extend .text-center;
  @extend .m-1;
}

.month {
  @extend .col-7;
}

.year {
  @extend .col-5;
}
