// Place all the styles related to the Users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.day, .month, .year {
  @extend .custom-select;
  margin-right: 8px;
}

.day, .year {
  @extend .col-2;
}

.month {
  @extend .col-3;
}
