<!-- Masthead -->
<header id="sliderIndicators" class="carousel slide" data-ride="carousel">
  <ol class="carousel-indicators">
    <li data-target="#sliderIndicators" data-slide-to="0" class="active"></li>
    <li data-target="#sliderIndicators" data-slide-to="1"></li>
    <li data-target="#sliderIndicators" data-slide-to="2"></li>
  </ol>
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img class="d-block w-100" src="<%= image_path 'slide1.jpg'%>" alt="First slide">
      <div class="carousel-caption d-none d-md-block">
        <h3>Welcome to KoopaFundMe</h3>
        <h5>The modern way to get funds to your cause. Let's <%= link_to 'upgrade', sign_up_path %> today!</h5>
      </div>
    </div>
    <div class="carousel-item">
      <img class="d-block w-100" src="<%= image_path 'slide2.jpg'%>" alt="Second slide">
      <div class="carousel-caption d-none d-md-block">
        <h3><%= link_to 'Multiple campaign', campaigns_path %> categories</h3>
        <h5>It doesn't matter what your cause is, certainly you'll find support here.</h5>
      </div>
    </div>
    <div class="carousel-item">
      <img class="d-block w-100" src="<%= image_path 'slide3.jpg'%>" alt="Third slide">
      <div class="carousel-caption d-none d-md-block">
        <h3>Large <%= link_to 'community', users_path %></h3>
        <h5>KoopaFundMe now has more than <%= @users_count %> active users, contributing to a better world.</h5>
      </div>
    </div>
  </div>
  <a class="carousel-control-prev" href="#sliderIndicators" role="button" data-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="carousel-control-next" href="#sliderIndicators" role="button" data-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
</header>

<!-- Icons Grid -->
<section class="features-icons bg-light text-center">
  <div class="container">
    <div class="row">
      <div class="col-lg-4">
        <div class="features-icons-item mx-auto mb-5 mb-lg-0 mb-lg-3">
          <div class="features-icons-icon d-flex">
            <i class="icon-globe m-auto text-primary"></i>
          </div>
          <h3>Large Community</h3>
          <p class="lead mb-0">Here you'll find people from all around the world located in <%= @distinct_countries %> different countries</p>
        </div>
      </div>
      <div class="col-lg-4">
        <div class="features-icons-item mx-auto mb-5 mb-lg-0 mb-lg-3">
          <div class="features-icons-icon d-flex">
            <i class="icon-user m-auto text-primary"></i>
          </div>
          <h3>Free to use</h3>
          <p class="lead mb-0"><%= link_to 'Create your account', sign_up_path %> within 5 minutes! Already registered? <%= link_to 'Log in', log_in_path %></p>
        </div>
      </div>
      <div class="col-lg-4">
        <div class="features-icons-item mx-auto mb-0 mb-lg-3">
          <div class="features-icons-icon d-flex">
            <i class="icon-check m-auto text-primary"></i>
          </div>
          <h3>Custom Campaigns</h3>
          <p class="lead mb-0">Set your targets, special rewards and track the progress of your campaign!</p>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- Image Showcases -->
<section class="showcase">
  <div class="container-fluid p-0">
    <div class="row no-gutters">

      <div class="col-lg-6 order-lg-2 text-white showcase-img" style="background-image: url('<%= image_path 'bg-showcase-1.jpg' %>');"></div>
      <div class="col-lg-6 order-lg-1 my-auto showcase-text">
        <h2>Fully Responsive Design</h2>
        <p class="lead mb-0">KoopaFundMe will look great on any device, whether it's a phone, tablet, or desktop it will behave responsively!</p>
      </div>
    </div>
    <div class="row no-gutters">
      <div class="col-lg-6 text-white showcase-img" style="background-image: url('<%= image_path 'bg-showcase-2.jpg' %>');"></div>
      <div class="col-lg-6 my-auto showcase-text">
        <h2>100% secure</h2>
        <p class="lead mb-0">Your money is secure with us! Plus, we have the smallest fees on the market.</p>
      </div>
    </div>
    <div class="row no-gutters">
      <div class="col-lg-6 order-lg-2 text-white showcase-img" style="background-image: url('<%= image_path 'bg-showcase-3.jpg' %>');"></div>
      <div class="col-lg-6 order-lg-1 my-auto showcase-text">
        <h2>Freedom</h2>
        <p class="lead mb-0">
          You can check your campaign's progress and manage your account at any time.<br>
          If you don't like KoopaFundMe, you can cancel your account without any fees.
        </p>
      </div>
    </div>
  </div>
</section>

<!-- Testimonials -->
<section class="testimonials text-center bg-light">
  <div class="container">
    <h2 class="mb-5">What people are saying...</h2>
    <div class="row">
      <div class="col-lg-4">
        <div class="testimonial-item mx-auto mb-5 mb-lg-0">
          <img class="img-fluid rounded-circle mb-3" src='<%= image_path 'testimonials-1.jpg' %>' alt="">
          <h5>Margaret E.</h5>
          <p class="font-weight-light mb-0">"This is fantastic! Thanks so much guys!"</p>
        </div>
      </div>
      <div class="col-lg-4">
        <div class="testimonial-item mx-auto mb-5 mb-lg-0">
          <img class="img-fluid rounded-circle mb-3" src='<%= image_path 'testimonials-2.jpg' %>' alt="">
          <h5>Fred S.</h5>
          <p class="font-weight-light mb-0">"KoopaFundMe is amazing. I've used it to launch my business."</p>
        </div>
      </div>
      <div class="col-lg-4">
        <div class="testimonial-item mx-auto mb-5 mb-lg-0">
          <img class="img-fluid rounded-circle mb-3" src='<%= image_path 'testimonials-3.jpg' %>' alt="">
          <h5>Sarah	W.</h5>
          <p class="font-weight-light mb-0">"Thanks so much for making this plataform available to us!"</p>
        </div>
      </div>
    </div>
  </div>
</section>
