<!DOCTYPE html>
<html>
  <head>
    <title><%= (@title.nil?? '':@title) + 'KoopaFundMe'%></title>
    <%= favicon_link_tag asset_path('icon64.png'), :rel => 'icon', :type =>  'image/png' %>

    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/simple-line-icons/2.4.1/css/simple-line-icons.css">
    <link href="https://fonts.googleapis.com/css?family=Lato:300,400,700,300italic,400italic,700italic" rel="stylesheet" type="text/css">

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <!--Navigation bar-->
    <nav class="navbar navbar-expand-lg navbar-light bg-light static-top">
      <div class="container">
      <a class="navbar-brand" href="<%= root_path %>">
        <img class="img-fluid rounded" src='<%= image_path 'icon32.png' %>' alt="">
        KoopaFundMe
      </a>
      <% unless current_user.nil? %>
        <ul class="nav navbar-nav mr">
          <li class="nav-item">
            <%= link_to 'Start Campaign', new_campaign_path, class: 'btn btn-success' %>
          </li>
          <li class="nav-item dropdown mx-2">
            <a class="nav-link dropdown-toggle" id="profileDropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="fas fa-user-alt"></i> <%= current_user.first_name %></a>
            <div class="dropdown-menu" aria-labelledby="profileDropdown">
              <%= link_to '<i class="fas fa-columns"></i> Dashboard'.html_safe, home_path, class: "dropdown-item"%>
              <%= link_to '<i class="fas fa-user-edit"></i> Profile'.html_safe, profile_path(current_user.id), class: "dropdown-item"%>
              <%= link_to '<i class="fas fa-flag-checkered"></i> My Campaigns'.html_safe, user_campaigns_path(current_user.id), class: "dropdown-item"%>
              <%= link_to '<i class="fas fa-hand-holding-usd"></i> My Contributions'.html_safe, contributions_path, class: 'dropdown-item'%>
              <%= link_to '<i class="fas fa-trophy"></i> My Rewards'.html_safe, rewards_path, class: 'dropdown-item'%>
              <%= link_to '<i class="fas fa-credit-card"></i> Payment methods'.html_safe, payment_methods_path, class: 'dropdown-item'%>
              <%= link_to '<i class="fas fa-sign-out-alt"></i> Log out'.html_safe, log_out_path, method: :delete, class: 'dropdown-item'%>
            </div>
          </li>
        </ul>
      <% else %>
        <div class="btn btn-group-toggle">
          <%= link_to 'Log In', log_in_path, class: 'btn btn-primary' %>
          <%= link_to 'Sign up', sign_up_path, class: 'btn btn-primary' %>
        </div>
      <% end %>
      </div>
    </nav>

    <!-- User dashboard -->
    <% if current_user.nil?%>
      <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="navbar-collapse offcanvas-collapse" id="navbarsExampleDefault">
          <span class="nav-link">
            <%= breadcrumbs pretext: '<i class="fas fa-folder-open"></i>/ '.html_safe, style: :inline, separator: ' / ' %>
          </span>
        </div>
      </nav>
    <% else %>
     <%= render partial: 'users/dashboard_header' %>
    <% end %>

    <!--Notifications-->
    <div class="content-page">
      <% [:success, :info, :warning, :danger].each do |state| %>
        <% unless flash[state].nil? %>
          <% flash[state].each do |message| %>
            <div class="alert alert-<%= state %> alert-dismissible text-center" role="alert">
              <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
              <strong><%= message[0] %></strong> <%= message[1] %>
            </div>
          <% end %>
        <% end %>
      <% end %>
    </div>

    <!-- Yield to render page -->
    <%= yield %>

    <!-- Footer -->
    <footer class="footer bg-light">
      <div class="container">
        <div class="row">
          <div class="col-lg-6 h-100 text-center text-lg-left my-auto">
            <ul class="list-inline mb-2">
              <li class="list-inline-item">
                <a href="#">About</a>
              </li>
              <li class="list-inline-item">&sdot;</li>
              <li class="list-inline-item">
                <a href="#">Contact</a>
              </li>
              <li class="list-inline-item">&sdot;</li>
              <li class="list-inline-item">
                <a href="#">Terms of Use</a>
              </li>
              <li class="list-inline-item">&sdot;</li>
              <li class="list-inline-item">
                <a href="#">Privacy Policy</a>
              </li>
            </ul>
            <p class="text-muted small mb-4 mb-lg-0">&copy; KoopaFundMe 2018. All Rights Reserved.</p>
          </div>
          <div class="col-lg-6 h-100 text-center text-lg-right my-auto">
            <ul class="list-inline mb-0">
              <li class="list-inline-item mr-3">
                <a href="https://www.facebook.com/StructUnB">
                  <i class="fab fa-facebook fa-2x fa-fw"></i>
                </a>
              </li>
              <li class="list-inline-item mr-3">
                <a href="https://www.instagram.com/structunb">
                  <i class="fab fa-instagram fa-2x fa-fw"></i>
                </a>
              </li>
              <li class="list-inline-item mr-3">
                <a href="https://gitlab.com/AndreLaranjeira/koopafundme">
                  <i class="fab fa-gitlab fa-2x fa-fw"></i>
                </a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </footer>
    </body>
</html>
